body {
	font-family: Helvetica, 'Segoe UI', sans-serif;
}

.redtext{
	color:tomato;
	font-size:80px;
	text-align: center;
}

.myself{
	background-color:darkcyan;
	background-image: "amal2"
}
.div{
  /*padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;*/
  border:1px solid black;
  width:300px;
  margin-left: 20px;
  padding: 20px;
 
  float:left;
  background-color:tomato;
  display:block;
}
.div1{
	display:block;
	border:3px solid tomato;
	color: white;
	border-radius:20px;
	padding: 20px;
	width:300px;
	float:right;
	margin-right: 20px;
}